---
- name: Install and configure dnsmasq
  become: true
  block:
    - name: Enable service facts on host
      ansible.builtin.service_facts:

    - name: Install required packages for RedHat based systems
      ansible.builtin.dnf:
        name:
          - dnsmasq
        update_cache: false
        state: present
      when: ansible_facts['os_family'] == "RedHat"
      notify:
        - Start dnsmasq

    - name: Install required packages for Debian based systems
      ansible.builtin.apt:
        name:
          - dnsmasq
        update_cache: false
        state: present
      when: ansible_facts['os_family'] == "Debian"
      notify:
        - Start dnsmasq

    - name: Apply dnsmasq config template
      ansible.builtin.template:
        src: dnsmasq.conf.j2
        dest: /etc/dnsmasq.conf
        owner: root
        group: root
        mode: "0644"
      notify:
        - Restart dnsmasq

    - name: Disable systemd-resolved service
      ansible.builtin.service:
        name: systemd-resolved
        state: stopped
        enabled: false
      when: >-
        ansible_facts.services['systemd-resolved.service'].state is defined and
        ansible_facts.services['systemd-resolved.service'].state == 'running'

    - name: Permit traffic on wireguard zone
      ansible.posix.firewalld:
        service: dns
        zone: "{{ dnsmasq.zone }}"
        permanent: true
        immediate: true
        state: enabled
      when: >-
        ansible_facts['os_family'] == "RedHat" and
        ansible_facts.services['firewalld.service'].state is defined and
        ansible_facts.services['firewalld.service'].state == 'running'
