- name: Install Nginx
  ansible.builtin.dnf:
    name:
      - epel-release
      - nginx
    state: present

- name: Install Certbot
  ansible.builtin.dnf:
    name:
      - certbot
      - python3-certbot-apache
    state: present

- name: Check if firewalld is present and running
  ansible.builtin.service_facts:

- name: Generate nginx certificate for {{ nginx_server_fqdn }}
  ansible.builtin.command: |
    sudo certbot certonly
    --standalone
    --non-interactive
    --agree-tos
    -d {{ nginx_server_fqdn }}
    --email {{ nginx_admin_email }}
  register: nginx_certbot_response
  changed_when: nginx_certbot_response.rc == 0
  notify:
    - Restart nginx

- name: Start and enable Nginx service
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true

- name: Copy nginx configuration
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart nginx

- name: Copy nginx configuration for {{ item.server_fqdn }}
  ansible.builtin.template:
    src: resource.conf.j2
    dest: /etc/nginx/default.d/{{ item.server_fqdn }}.conf
    owner: root
    group: root
    mode: '0644'
  when: nginx_resources is defined
  loop: '{{ nginx_resources }}'
  notify:
    - Restart nginx

- name: Generate nginx certificate for {{ item.server_fqdn }}
  ansible.builtin.command: |
    sudo certbot certonly
    --standalone
    --non-interactive
    --agree-tos
    -d {{ item.server_fqdn }}
    --email {{ item.admin_email }}
  when: nginx_resources is defined
  register: nginx_certbox_response
  changed_when: nginx_certbot_response.rc == 0;
  loop: '{{ nginx_resources }}'
  notify:
    - Restart nginx

- name: Configure firewall to allow http and https
  when: >-
    ansible_facts.services['firewalld.service'].state is defined and
    ansible_facts.services['firewalld.service'].state == 'running'
  notify:
    - Restart firewalld service
  block:
    - name: Permit traffic on 80 port
      ansible.posix.firewalld:
        service: http
        permanent: true
        immediate: true
        state: enabled

    - name: Permit traffic on 443 port
      ansible.posix.firewalld:
        service: https
        permanent: true
        immediate: true
        state: enabled
