- name: Setup VPN and Reverse Proxy
  hosts: gateway, client
  gather_facts: true
  pre_tasks:
    - name: Generate wireguard keys
      ansible.builtin.import_tasks: tasks/generate_wireguard_keys.yml
  roles:
    - wireguard
