- name: Generate wireguard keys
  hosts: gateway, localhost
  gather_facts: true
  tasks:
    - name: Generate wireguard keys
      ansible.builtin.import_tasks: tasks/generate_wireguard_keys.yml

- name: Setup VPN and Reverse Proxy
  hosts: gateway
  pre_tasks:
    - name: Create users
      ansible.builtin.import_tasks: tasks/user.yml
  roles:
    - cockpit
    - wireguard
