wireguard:
  zone: public
  server: ture
  address: "10.0.0.0/24, fd00:7::/64"
  ipv4subnet: "10.0.0.0/24"
  ipv6subnet: "fd00:7::/64"
  port: 51820
  clients:
    - name: localhost
      ipv4subnet: 10.0.0.1/32
      ipv6subnet: fd00:7::1/127