---
- name: Unione dei nodi al cluster
  become: true
  block:

    - name: Unisci il Worker al cluster
      ansible.builtin.command:
        cmd: "{{ hostvars['srv01']['kubernetes_control_plane_join_command'] }}"
      args:
        creates: /etc/kubernetes/kubelet.conf
      when: vpn_ip is defined

    - name: Configure VPN's IP in Kubelet
      ansible.builtin.lineinfile:
        path: /etc/sysconfig/kubelet
        regexp: '^KUBELET_ADDRESS='
        line: 'KUBELET_ADDRESS=--node-ip={{ vpn_ip }}'
        create: true
        mode: '0644'
        owner: root
        group: root
      when: vpn_ip is defined
      notify:
        - Restart kubelet

    - name: Confoigure hostname in Kubelet
      ansible.builtin.lineinfile:
        path: /etc/sysconfig/kubelet
        regexp: '^KUBELET_HOSTNAME='
        line: 'KUBELET_HOSTNAME=--hostname-override={{ hostname }}'
        create: true
        mode: '0644'
        owner: root
        group: root
      notify:
        - Restart kubelet
