- name: Setup VPN and Reverse Proxy
  hosts: gateway, client, server
  gather_facts: true
  pre_tasks:
    - name: Generate wireguard keys
      ansible.builtin.import_tasks: tasks/generate_wireguard_keys.yml
  roles:
    - wireguard

- name: Setup dnsmasq service
  hosts: gtw01
  roles:
    - dnsmasq
