- name: Check if pve is present
  ansible.builtin.stat:
    path: /etc/netplan
  register: wireguard_netplan_check

- name: Check if pve is present
  ansible.builtin.stat:
    path: /etc/pve
  register: wireguard_pve_check

- name: Generate wireguard keys
  ansible.builtin.import_tasks: generate_wireguard_keys.yml

- name: Read and register both contents in the final list
  ansible.builtin.set_fact:
    wireguard_key_pair_contents: >
      {{ wireguard_key_pair_contents + [{
        'prefix': item.name ,
        'private_key': lookup('ansible.builtin.file', [wireguard_keystore_directory, item.name ~ '_key'] | path_join ),
        'public_key': lookup('ansible.builtin.file', [wireguard_keystore_directory , item.name ~ '_pub'] | path_join ),
        'ipv4subnet': item.ipv4subnet,
        'ipv6subnet': item.ipv6subnet,
        'endpoint': item.endpoint | default(omit)
      }] }}
  loop: "{{ wireguard_clients }}"
  loop_control:
    label: "Processing {{ item.name }}"
  delegate_to: localhost

- name: Create private key fact
  ansible.builtin.set_fact:
    wireguard_private_key: "{{ lookup('ansible.builtin.file', [wireguard_keystore_directory, inventory_hostname ~ '_key'] | path_join ) | trim }}"

- name: Enable ipv4 forward
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    state: present
    reload: true
  when: wireguard_ipv4_forwarding_needed is true

- name: Disable ipv4 forward
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '0'
    sysctl_set: true
    state: present
    reload: true
  when: wireguard_ipv4_forwarding_needed is false

- name: Enable ipv6 forward
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: '1'
    sysctl_set: true
    state: present
    reload: true
  when: wireguard_ipv6_forwarding_needed is true

- name: Disable ipv6 forward
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: '0'
    sysctl_set: true
    state: present
    reload: true
  when: wireguard_ipv6_forwarding_needed is false

- name: Install wireguard
  block:
    - name: Install wireguard on Debian based systems
      ansible.builtin.apt:
        name:
          - wireguard-tools
        update_cache: false
        state: present
      when: ansible_facts['os_family'] == "Debian"

    - name: Install wireguard on Fedora based systems
      ansible.builtin.dnf:
        name:
          - wireguard-tools
        update_cache: false
        state: present
      when: ansible_facts['os_family'] == "RedHat"


- name: Install and configure wireguard
  when:
    - ansible_facts['os_family'] == "Debian"
    - wireguard_netplan_check.stat.exists
  block:

    - name: Configure wireguard interface
      ansible.builtin.template:
        src: templates/60-wireguard.yaml.j2
        dest: /etc/netplan/60-wireguard.yaml
        owner: root
        group: root
        mode: '0600'

    - name: Applica configurazione Netplan
      ansible.builtin.command: netplan apply
      register: wireguard_netplan_route
      changed_when: wireguard_netplan_route.rc == 0

- name: Install and configure wireguard
  when:
    - ansible_facts['os_family'] == "Debian"
    - wireguard_pve_check.stat.exists
  block:

    - name: Ensure /etc/wireguard directory exists
      ansible.builtin.file:
        path: /etc/wireguard
        state: directory
        owner: root
        group: root
        mode: '0700'

    - name: Configure WireGuard interface
      ansible.builtin.template:
        src: templates/wg0.conf.j2
        dest: /etc/wireguard/wg0.conf
        owner: root
        group: root
        mode: '0600'
      notify:
        - Restart wg-quick

    - name: Try to add wireguard interface
      block:
        - name: Add wireguard to the discoverable network interface
          ansible.builtin.command: |
            pvesh create /nodes/localhost/network
            --iface {{ wireguard_interface_name }}
            --type eth
            --address {{ wireguard_ipv4subnet | ansible.utils.ipaddr('address') }}
            --netmask {{ wireguard_ipv4subnet | ansible.utils.ipaddr('netmask') }}
          register: wireguard_pvesh_result
          changed_when: wireguard_pvesh_result.rc != 0
      rescue:
        - name: Gestisci il fallimento se l'interfaccia esiste
          ansible.builtin.debug:
            msg: "L'interfaccia esiste già, procedo con l'aggiornamento o ignoro."
          when: "'interface already exists' in ansible_failed_result.stderr"

        - name: Tenta il set se il create è fallito perché già esistente
          ansible.builtin.command: >
            pvesh set /nodes/localhost/network/wg0
            --type eth
            --address {{ wireguard_ipv4subnet | ansible.utils.ipaddr('address') }}
            --netmask {{ wireguard_ipv4subnet | ansible.utils.ipaddr('netmask') }}
          register: wireguard_pvesh_result
          changed_when: wireguard_pvesh_result.rc != 0
          when: "'interface already exists' in ansible_failed_result.stderr"


- name: Install and condfigure wireguard
  when:
    - ansible_facts['os_family'] == "RedHat"
    - ansible_facts['distribution'] == "Fedora" or ansible_facts['distribution'] == "Rocky"
  block:

    - name: Remove the wireguard connection if exists
      community.general.nmcli:
        conn_name: "{{ wireguard_connection_name }}"
        state: absent
      register: wireguard_nmcli_remove
      failed_when:
        - wireguard_nmcli_remove.failed | default(false)

    - name: Create a wireguard connection
      community.general.nmcli:
        type: wireguard
        conn_name: "{{ wireguard_connection_name }}"
        ifname: "{{ wireguard_interface_name }}"
        ip4: "{{ wireguard_ipv4subnet }}"
        ip6: "{{ wireguard_ipv6subnet }}"
        zone: "{{ wireguard_zone }}"
        wireguard:
          listen-port: "{{ wireguard_port }}"
          private-key: "{{ wireguard_private_key }}"
        autoconnect: true
        state: present
      notify:
        - Activate WireGuard connection

    - name: Change the nmconnection configuration to enable DNS
      community.general.ini_file:
        path: /etc/NetworkManager/system-connections/{{ wireguard_connection_name }}.nmconnection
        section: ipv4
        option: "{{ item.option }}"
        value: "{{ item.value }}"
        state: present
        mode: "0600"
        no_extra_spaces: true
      loop:
        - { option: 'dns', value: '{{ wireguard_dns_server }}' }
        - { option: 'dns-priority', value: '-1' }
        - { option: 'ignore-auto-dns', value: 'true' }
      when: wireguard_dns_server is defined

    - name: Insert clients inside the nmconnection configuration
      ansible.builtin.blockinfile:
        path: /etc/NetworkManager/system-connections/{{ wireguard_connection_name }}.nmconnection
        marker: "# {mark} ANSIBLE MANAGED PEER {{ item.prefix }}"
        block: |
          [wireguard-peer.{{ item.public_key }}]
          {% if item.endpoint is defined and item.endpoint -%}
          endpoint={{ item.endpoint }}
          {% endif -%}
          persistent-keepalive=30
          allowed-ips={{ item.ipv4subnet }};{{ item.ipv6subnet }};
        insertafter: EOF
        create: false
      loop: "{{ wireguard_key_pair_contents }}"
      loop_control:
        index_var: peer_index
        label: "Adding Peer {{ item.prefix }}"
      notify:
        - Reload NetworkManager connection

    - name: Permit traffic on wireguard service
      ansible.posix.firewalld:
        service: wireguard
        permanent: true
        immediate: true
        state: enabled
      when: >-
        ansible_facts.services['firewalld.service'].state is defined and
        ansible_facts.services['firewalld.service'].state == 'running'
      notify:
        - Restart firewalld
