wireguard:
  connection_name: private-net
  zone: internal
  ipv4subnet: "10.0.0.0/24"
  ipv6subnet: "fd00:7::/64"
  ipv4_forwarding_needed: true
  ipv6_forwarding_needed: true
  port: 51820
  clients:
    - name: cli01
      ipv4subnet: 10.0.0.1/32
      ipv6subnet: fd00:7::1/127
  dns_server: 127.0.0.1

dnsmasq:
  zone: internal
  addresses:
    - dns_address: example.com
      ip_address: 10.0.1.1
  external_dns:
    - 8.8.8.8
    - 1.1.1.1
