---
- name: Start dnsmasq service
  ansible.builtin.service:
    name: dnsmasq
    enabled: true
    state: started

- name: Restart dnsmasq service
  ansible.builtin.service:
    name: dnsmasq
    state: restarted
