[Interface]
Address = {{ wg_interface_address }}
PrivateKey = {{ wg_private_key }}
ListenPort = {{ wg_listen_port }}
{%if post_ups is defined %}
{% for command in post_ups %}
PostUp = {{ command }}
{% endfor %}
{% endif %}
{%if post_downs is defined %}
{% for command in post_downs %}
PostDown = {{ command }}
{% endfor %}
{% endif %}

{% for peer in wg_peers %}
[Peer]
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% endfor %}

