---
- name: Intstall Crio and Kubernates
  hosts: all
  roles:
    - kubernetes_prerequisites

- name: Setup Kubernetes Infrastructure
  hosts: master
  roles:
    - kubernetes_control_plane

- name: Setup Kubernetes Infrastructure
  hosts: node
  roles:
    - kubernetes_node
