# - ansible.builtin.import_tasks: sysctl.yml

- name: Install and condfigure wireguard
  become: true
  vars:
    wireguard_private_key_file: "{{ wireguard_target_dir }}/{{ inventory_hostname }}_key"
    wireguard_key_pair_contents: []

  block:

    - name: Install wireguard and other tools
      ansible.builtin.dnf:
        name:
          - wireguard-tools
          - python3-firewall
        state: present

    - name: Allow ipv4 forward
      ansible.builtin.lineinfile:
        path: /etc/sysctl.conf
        line: net.ipv4.ip_forward = 1
      notify:
        - Reload sysctl
      when: >-
        ansible_facts.os_family == "RedHat" and
        ipv4_forwarding_needed | default(false)

    - name: Allow ipv6 forward
      ansible.builtin.lineinfile:
        path: /etc/sysctl.conf
        line: net.ipv6.conf.all.forwarding = 1
      notify:
        - Reload sysctl
      when: >-
        ansible_facts.os_family == "RedHat" and
        ipv6_forwarding_needed | default(false)

    - name: Create private key fact
      ansible.builtin.set_fact:
        wireguard_private_key: "{{ lookup('file', wireguard_private_key_file) | trim }}"

    - name: Rimuovi la connessione WireGuard esistente
      community.general.nmcli:
        conn_name: "{{ wireguard.connection_name | default(wireguard_connection_name) }}"
        state: absent
      become: true
      register: wireguard_nmcli_remove
      failed_when:
        - wireguard_nmcli_remove.failed | default(false)

    - name: Create a wireguard connection
      community.general.nmcli:
        type: wireguard
        conn_name: "{{ wireguard.connection_name | default(wireguard_connection_name) }}"
        ifname: "{{ wireguard.interface_name | default(wireguard_interface_name) }}"
        ip4: "{{ wireguard.ipv4subnet }}"
        ip6: "{{ wireguard.ipv6subnet }}"
        zone: "{{ wireguard.zone }}"
        wireguard:
          listen-port: "{{ wireguard.port }}"
          private-key: "{{ wireguard_private_key }}"
        autoconnect: true
        state: present
      notify:
        - Activate WireGuard connection

    - name: Modifica configurazione DNS senza alterare i permessi
      community.general.ini_file:
        path: /etc/NetworkManager/system-connections/{{ wireguard.connection_name | default(wireguard_connection_name) }}.nmconnection
        section: ipv4
        option: "{{ item.option }}"
        value: "{{ item.value }}"
        state: present
        mode: "0600"
        no_extra_spaces: true
      loop:
        - { option: 'dns', value: '{{ wireguard.dns_server }}' }
        - { option: 'dns-priority', value: '-1' }
        - { option: 'ignore-auto-dns', value: 'true' }
      when: wireguard.dns_server is defined

    - name: Leggi e registra entrambi i contenuti nella lista finale
      ansible.builtin.set_fact:
        wireguard_key_pair_contents: >
          {{ wireguard_key_pair_contents + [{
            'prefix': item.name ,
            'private_key': lookup('ansible.builtin.file', wireguard_target_dir + "/" + item.name + '_key'),
            'public_key': lookup('ansible.builtin.file', wireguard_target_dir + "/" + item.name + '_pub'),
            'ipv4subnet': item.ipv4subnet,
            'ipv6subnet': item.ipv6subnet,
            'endpoint': item.endpoint | default(omit)
          }] }}
      loop: "{{ wireguard.clients }}"
      loop_control:
        label: "Processing {{ item.name }}"
      delegate_to: localhost

    - name: Filtra la lista degli hostname esclusi
      ansible.builtin.set_fact:
        wireguard_other_hostnames_list: >
          {{ wireguard_key_pair_contents
             | rejectattr('prefix', 'equalto', inventory_hostname)
             | list
          }}

    - name: Accoda il blocco di configurazione del nuovo peer
      ansible.builtin.blockinfile:
        path: /etc/NetworkManager/system-connections/{{ wireguard.connection_name | default(wireguard_connection_name) }}.nmconnection
        block: |
          [wireguard-peer.{{ item.public_key }}]
          {% if item.endpoint is defined and item.endpoint -%}
          endpoint={{ item.endpoint }}
          {% endif -%}
          persistent-keepalive=30
          allowed-ips={{ item.ipv4subnet }};{{ item.ipv6subnet }};
        insertafter: EOF
        create: false
      loop: "{{ wireguard_key_pair_contents }}"
      loop_control:
        index_var: peer_index
        label: "Adding Peer {{ item.prefix }}"
      notify:
        - Reload NetworkManager connection

    - name: Permit traffic on wireguard service
      ansible.posix.firewalld:
        service: wireguard
        permanent: true
        immediate: true
        state: enabled
      when: >-
        ansible_facts.services['firewalld.service'].state is defined and
        ansible_facts.services['firewalld.service'].state == 'running'
      notify:
        - Restart firewalld service
